body{
    font-family: "Open Sans", sans-serif;
}

/* header related style  */
.header{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    width: 1600px;
    height: 800px;
    margin: auto;
}
.header-info{
    text-align: right;
    text-align:top;
    padding-right: 200px;
    padding-top: 150px;
    padding-left: 1000px;
}
.header-title{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 0px;
}
.header-description{
    font-size: 15px;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 0px;

}
.btn-primary{
    padding:15px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0px;
}
.btn-primary:hover{
    border: 2px solid #005fac;

}
/* section style */
.section{
    display: flex;
    width: 1050px;
    height: 720px;
    border: 2px solid rebeccapurple;
    margin: 100px auto;
}


.div-right{
    padding-top: 200px;
    padding-left: 50px;
    padding-bottom: 100px;
    
}
.section ul li{
    font-size: 12px;
    color: rgb(12, 14, 15);
    font-weight: 400;
    
}
.title-info{
    font-size: 40px;
}
.title-description{
    font-size: 25px;
    color: #757575;
}

/* my plan style  */
 .title{
    text-align: center;
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
 }
.my-plan-discription{
    display: flex;
    gap: 24px;
    width: 850px;
    border: 2px solid red;
    margin: auto;
    justify-content: space-between;
}
.learn{
    padding:30px;
    border-radius: 5px;
    background: #fff;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   
}